<form [formGroup]="formGroupName" (ngSubmit)="saveUpdateForm()" class="label-type1 master-form cm-d-flex flex-wrap f-gap-15">
    <div class="flex-100p">
        <label for="taskName">Task Name<span class="asterisk">*</span></label>
        <input pInputText type="text" id="taskName" placeholder="Enter task name" formControlName="taskName" class="w-100">
    </div>

    <div class="flex-50p">
        <label for="taskStatus">Status<span class="asterisk">*</span></label>
        <ng-select [items]="taskStatusList" placeholder="Select status" id="taskStatus" formControlName="taskStatus">
        </ng-select>
    </div>

    <div class="flex-50p">
        <label for="taskPriority">Priority<span class="asterisk">*</span></label>
        <ng-select [items]="taskPriorityList" placeholder="Select priority" id="taskPriority" formControlName="taskPriority">
        </ng-select>
    </div>

    <div class="flex-50p">
        <label for="taskDueDate">Due Date<span class="asterisk">*</span></label>
        <p-calendar id="taskDueDate" [iconDisplay]="'input'" formControlName="taskDueDate"
                    [showIcon]="true" dateFormat="dd/mm/yy" placeholder="Select date" class="w-100"></p-calendar>
    </div>

    <div class="flex-50p">
        <label for="moduleId">Module (Optional)</label>
        <ng-select [items]="modulesList" bindLabel="moduleName" bindValue="_id" placeholder="Select module" id="moduleId" formControlName="moduleId">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="taskMembers">Assignees<span class="asterisk">*</span></label>
        <ng-select [items]="selectedProject.projectMembers" bindLabel="fullName" [multiple]="true"
                   bindValue="_id" placeholder="Select members" id="taskMembers" formControlName="taskMembers">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="taskDescription">Description<span class="asterisk">*</span></label>
        <textarea rows="3" class="w-100" pInputText id="taskDescription" placeholder="Describe the task..." formControlName="taskDescription"></textarea>
    </div>

    <div class="flex-100p">
        <label for="attachments">Attachments</label>
        <div class="custom-file-upload">
            <input type="file" id="attachments" (change)="onFileSelected($event)" />
        </div>
    </div>

    <div class="flex-100p j-end d-flex mt-4">
        <p-button type="submit" icon="pi pi-save" label="Save Task" [loading]="false"></p-button>
    </div>
</form>