<form [formGroup]="formGroupeName" (ngSubmit)="saveUpdateForm()" class="label-type1 master-form cm-d-flex flex-wrap f-gap-15">
    <div class="flex-100p">
        <label for="projectName">Project Name<span class="asterisk">*</span></label>
        <input pInputText type="text" id="projectName" placeholder="Enter project name" formControlName="projectName" class="w-100">
    </div>

    <div class="flex-50p">
        <label for="projectStatus">Status<span class="asterisk">*</span></label>
        <ng-select [items]="projectStatusList" placeholder="Select status" id="projectStatus" formControlName="projectStatus">
        </ng-select>
    </div>

    <div class="flex-50p">
        <label for="projectManager">Project Manager<span class="asterisk">*</span></label>
        <ng-select [items]="usersList" bindLabel="fullName" bindValue="_id" placeholder="Select manager" id="projectManager" formControlName="projectManager">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="projectMembers">Team Members<span class="asterisk">*</span></label>
        <ng-select [items]="usersList" bindLabel="fullName" [multiple]="true" bindValue="_id" placeholder="Select members" id="projectMembers" formControlName="projectMembers">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="projectDescription">Description<span class="asterisk">*</span></label>
        <textarea rows="3" class="w-100" pInputText id="projectDescription" placeholder="Project overview..." formControlName="projectDescription"></textarea>
    </div>

    <div class="flex-100p j-end d-flex mt-4">
        <p-button type="submit" icon="pi pi-save" label="Create Project" [loading]="false"></p-button>
    </div>
</form>