<form [formGroup]="formGroupeName" (ngSubmit)="saveUpdateForm()"
    class="label-type1 ng-select-type1 calendar-type1 input-type1 input-div-bg master-form cm-d-flex flex-wrap f-gap-10">
    <div class="flex-24p">
        <label for="discussionTitle">Discussion Title<span class="asterisk">*</span></label>
        <input pInputText type="text" id="discussionTitle" placeholder="Discussion Title"
            formControlName="discussionTitle">

        <div *ngIf="formGroupeName.get('discussionTitle')?.invalid && formGroupeName.get('discussionTitle')?.touched">
        </div>
    </div>
    <div class="flex-24p">
        <label for="discussionType">Discussion Type<span class="asterisk">*</span></label>
        <ng-select #ngdrop tabindex="1" [items]="discussionTypesList" placeholder="Select Discussion Type"
            id="discussionType" formControlName="discussionType">
        </ng-select>
        <div *ngIf="formGroupeName.get('discussionType')?.invalid && formGroupeName.get('discussionType')?.touched">
        </div>
    </div>
    <div class="flex-100p">
        <label for="discussionDescription">Discussion Description<span class="asterisk">*</span></label>
        <textarea pInputText type="text" id="discussionDescription" placeholder="Discussion Description" class="width-100" rows="2"
            formControlName="discussionDescription"></textarea>

        <div
            *ngIf="formGroupeName.get('discussionDescription')?.invalid && formGroupeName.get('discussionDescription')?.touched">
        </div>
    </div>
    <div class="flex-100p">
        <label for="discussionMembers">Discussion Members<span class="asterisk">*</span></label>
        <ng-select #ngdrop tabindex="1" [items]="selectedProject.projectMembers" bindLabel="fullName" [multiple]="true"
            bindValue="_id" placeholder="" id="discussionMembers" formControlName="discussionMembers">
        </ng-select>
        <div
            *ngIf="formGroupeName.get('discussionMembers')?.invalid && formGroupeName.get('discussionMembers')?.touched">
        </div>
    </div>

    <p-button class="add-discussion-button" type="submit" icon="pi pi-save" iconPos="right" label="Save"></p-button>
</form>