<form [formGroup]="formGroupeName" (ngSubmit)="saveUpdateForm()" class="label-type1 master-form cm-d-flex flex-wrap f-gap-15">
    <div class="flex-100p">
        <label for="discussionTitle">Discussion Title<span class="asterisk">*</span></label>
        <input pInputText type="text" id="discussionTitle" placeholder="What's on your mind?" formControlName="discussionTitle" class="w-100">
    </div>

    <div class="flex-100p">
        <label for="discussionType">Type<span class="asterisk">*</span></label>
        <ng-select [items]="discussionTypesList" placeholder="Select type" id="discussionType" formControlName="discussionType">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="discussionMembers">Notify Members<span class="asterisk">*</span></label>
        <ng-select [items]="selectedProject.projectMembers" bindLabel="fullName" [multiple]="true" bindValue="_id" placeholder="Select team members" id="discussionMembers" formControlName="discussionMembers">
        </ng-select>
    </div>

    <div class="flex-100p">
        <label for="discussionDescription">Description<span class="asterisk">*</span></label>
        <textarea pInputText id="discussionDescription" placeholder="Provide more details..." class="w-100" rows="4" formControlName="discussionDescription"></textarea>
    </div>

    <div class="flex-100p j-end d-flex mt-4">
        <p-button type="submit" icon="pi pi-save" label="Start Discussion" [loading]="false"></p-button>
    </div>
</form>